$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);


@mixin xxl {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin mmd {
  @media screen and (max-width: 967px) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: 767px) {
    @content;
  }
}

// Source mixin
$container-padding-x: 15px;
@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}