@use './_mixins';


$bg: #0F0B30;
$primary: #fff;
$linear: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: $bg;
  color: $primary;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: $primary;
}

.loading {
  width: 100vw;
  height: 100vh;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.linear-text {
  background: $linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;

  &.title {
    font-size: 4.5rem;
    line-height: 7rem;
  }
}

.section1 .title {
  font-size: 7rem;
  line-height: 14.7rem;
}

section span {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}


/* Section */
.section2, .section3, .section4, .section5, .section6, .section7, .section8 {
  .info {
    margin-bottom: 5rem;
  }

  padding: 10rem 0;
}


/* Section1 */
.section1 {
  padding-bottom: 10rem;
  background: url('../images/section1-bg.png');
  
  .btn-list .btn {
    padding: 16px 55px;
    font-size: 2.7rem;
    margin-top: 5.8rem;
  }

  .arrow {
    margin-top: 13rem;
  }
}

.btn-list .btn {
  font-size: 1.8rem;
  margin-top: 2rem;
}


/* Section3 */
.section3, .section6, .section7 {
  // .info .title {
    // width: 30%;
  // }

  .box {
    @include mixins.linear-area(30rem, 30rem);

    &-content {
      position: relative;
      z-index: 3;

      display: flex;
      flex-direction: column;
      align-items: center;
      
      img {
        width: 70px;
      }
      span {
        margin-top: 1rem;
      }
    }
  }
}

.section4 {
  &-content {
    height: 500px;
  }
}

.section5 {
  .info {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 100%;
  }
}

.section6 {
  .box {
    width: 100%;
    height: 30rem;
    padding: 0 8rem;

    &-content {
      align-items: start;

      span {
        text-align: left;
      }
    }
  } 
}

.section7 {
  .box {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100px;
    margin-left: 2rem;
    margin-top: 2rem;

    &:before, &:after {
      border-radius: 20px;
      padding: 2px;
    }

    &-content {
      align-items: start;
    }

    &-avatar  {
      width: 100px;
      height: 100px;
      position: relative;
      z-index: 1;
      
      cursor: pointer;
      border-radius: 50px;
      background-size: cover;
      background-position: 50%;

      transform: scale(0.7);
    }

    .name {
      font-size: 1.4rem;
      line-height: 1.4rem;
      cursor: pointer;
    }

    span {
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-weight: 400;
      margin-top: 0;
    }
  }
}

.section8 {
  .info .title {
    width: 30%;
    margin: 0 auto;
  }

  ul {
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: 1px;
    list-style: decimal;
    padding-left: 2rem;
  }

  .col-3 {
    align-items: start;
  }
}