.ReactModal__Overlay--after-open {
  background: rgba(0, 0, 0, 0.662) !important;
  z-index: 3;
}

.modal-container {
  padding: 20px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  position: relative;
  max-width: 900px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  h2 {
    font-size: 2rem;
    color: #fff;
  }
  button {
    font-size: 1rem;
    padding: 8px 20px;
  }

  span {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 15px;
  }

  .content span {
    line-height: 2.4rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
  }
}