@use './_mixins';

.post-list {
  padding-top: 100px;
  padding-bottom: 100px;
}

.post {
  @include mixins.linear-area(100%, 100%);
  margin-bottom: 2rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 20px 25px;


  &-info, &-btn {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  &-info {
    
    h2 {
      font-size: 2.2rem;
    }
    span {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      display: block;
      margin-right: 15px;
    }
  }

  .good-btn {
    font-size: 1.2rem;
    padding: 12px 28px;
  }
}

.ant-form-item-label > label {
  color: #fff;
}

.good {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.datetime, .author, .wallet {
  font-weight: 300;
  font-size: 1.4rem;
}